In [2]:
import os
import numpy as np
import pandas as pd

In [10]:
stocks = pd.read_csv(os.path.join('test.csv'))
stocks = stocks.loc[stocks['1'] >= 0.98]
stocks_list = stocks.iloc[:, 0]

In [37]:
period_to_check = list(pd.date_range(start='2023-08-07', periods=5, freq='B').strftime("%Y-%m-%d"))
period_to_check

['2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11']

In [41]:
df_whole = pd.read_csv(os.path.join('Data', '2_NIFTY500_5y_WithIndicator.csv'), parse_dates = ["Date"], index_col = "Date")
y_buy = df_whole.loc[(df_whole.index > min(period_to_check)) & (df_whole.index <= max(period_to_check))]
y_buy

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Symbol,calc_fr_1_rw,...,%D_STOCH,%KCross_STOCH,%KDiv_STOCH,%DDiv_STOCH,%KOversold_STOCH,%KOverbought_STOCH,%DOversold_STOCH,%DOverbought_STOCH,%KRoc_STOCH,%DRoc_STOCH
Date,,,,,,,,,,,,,,,,,,,,,
2023-08-08 00:00:00+05:30,27600.000000,28005.000000,27362.500000,27493.599609,27493.599609,2420.0,0.0,0.0,3MINDIA.NS,1.219007,...,93.520122,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.008694,-0.032196
2023-08-09 00:00:00+05:30,27504.449219,27696.050781,26628.000000,26828.150391,26828.150391,5135.0,0.0,0.0,3MINDIA.NS,6.409606,...,89.424397,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,-0.066655,-0.043795
2023-08-10 00:00:00+05:30,26990.000000,28334.750000,26650.250000,28119.449219,28119.449219,17315.0,0.0,0.0,3MINDIA.NS,11.631223,...,91.604635,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.138580,0.024381
2023-08-11 00:00:00+05:30,27862.349609,29750.000000,27728.199219,29469.300781,29469.300781,10075.0,0.0,0.0,3MINDIA.NS,NaN,...,97.655355,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.127232,0.066053
2023-08-08 00:00:00+05:30,559.500000,578.700012,555.200012,576.599976,576.599976,438943.0,0.0,0.0,AARTIDRUGS.NS,5.358429,...,61.999363,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.037688,-0.014935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-11 00:00:00+05:30,661.799988,666.599976,644.950012,650.950012,650.950012,3093437.0,0.0,0.0,ZYDUSLIFE.NS,NaN,...,103.293319,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,-0.015751,-0.003345
2023-08-08 00:00:00+05:30,1482.050049,1529.949951,1482.000000,1515.750000,1515.750000,363660.0,0.0,0.0,ZYDUSWELL.NS,7.213227,...,26.255343,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.161954,0.093490
2023-08-09 00:00:00+05:30,1532.000000,1588.900024,1514.650024,1559.250000,1559.250000,349883.0,0.0,0.0,ZYDUSWELL.NS,4.182483,...,29.741148,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.118188,0.132766
2023-08-10 00:00:00+05:30,1560.000000,1578.000000,1522.250000,1533.000000,1533.000000,87253.0,0.0,0.0,ZYDUSWELL.NS,1.691575,...,31.600698,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.063782,0.062524
2023-08-11 00:00:00+05:30,1539.949951,1548.000000,1530.000000,1537.150024,1537.150024,90882.0,0.0,0.0,ZYDUSWELL.NS,NaN,...,32.181214,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010771,0.018370

In [45]:
stocks_to_buy = y_buy.loc[y_buy['Symbol'].isin(stocks_list), ['Open', 'High', 'Low', 'Close', 'Symbol']]
stocks_to_buy = stocks_to_buy.reset_index()

In [43]:
# https://stackoverflow.com/questions/40256338/calculating-average-true-range-atr-on-ohlc-data-with-python
def wwma(values, n):
    """
     J. Welles Wilder's EMA 
    """
    return values.ewm(alpha=1/n, adjust=False).mean()

def atr(df, n=14):
    data = df.copy()
    high = data['High']
    low = data['Low']
    close = data['Close']
    data['tr0'] = abs(high - low)
    data['tr1'] = abs(high - close.shift())
    data['tr2'] = abs(low - close.shift())
    tr = data[['tr0', 'tr1', 'tr2']].max(axis=1)
    atr = wwma(tr, n)
    return atr

In [44]:
STYLE = 'TARGET'
QTY_TO_BUY = 1
# SL
TARGET = 3

In [51]:
stocks_to_buy['day_pt_move'] = (stocks_to_buy['High'] - stocks_to_buy['Low'])
stocks_to_buy['day_pct_move'] = (((stocks_to_buy['High'] - stocks_to_buy['Low']) / stocks_to_buy['Low']) * 100)

In [52]:
stocks_to_buy

,Date,Open,High,Low,Close,Symbol,day_pt_move,day_pct_move
0,2023-08-08 00:00:00+05:30,1528.449951,1730.000000,1525.000000,1701.000000,ANGELONE.NS,205.000000,13.442623
1,2023-08-09 00:00:00+05:30,1720.000000,1774.949951,1664.599976,1734.150024,ANGELONE.NS,110.349976,6.629219
2,2023-08-10 00:00:00+05:30,1721.000000,1758.400024,1701.750000,1737.500000,ANGELONE.NS,56.650024,3.328928
3,2023-08-11 00:00:00+05:30,1740.949951,1746.500000,1706.000000,1719.599976,ANGELONE.NS,40.500000,2.373974
4,2023-08-08 00:00:00+05:30,266.899994,267.350006,260.149994,262.100006,APTUS.NS,7.200012,2.767639
...,...,...,...,...,...,...,...,...
199,2023-08-11 00:00:00+05:30,1532.650024,1555.000000,1511.000000,1542.199951,WHIRLPOOL.NS,44.000000,2.911979
200,2023-08-08 00:00:00+05:30,1482.050049,1529.949951,1482.000000,1515.750000,ZYDUSWELL.NS,47.949951,3.235489
201,2023-08-09 00:00:00+05:30,1532.000000,1588.900024,1514.650024,1559.250000,ZYDUSWELL.NS,74.250000,4.902123
202,2023-08-10 00:00:00+05:30,1560.000000,1578.000000,1522.250000,1533.000000,ZYDUSWELL.NS,55.750000,3.662342
203,2023-08-11 00:00:00+05:30,1539.949951,1548.000000,1530.000000,1537.150024,ZYDUSWELL.NS,18.000000,1.176471

In [46]:
grp_to_buy = stocks_to_buy.groupby('Date')
day_value_list = []
for grp in grp_to_buy:

,Open,High,Low,Close,Symbol
Date,,,,,
2023-08-08 00:00:00+05:30,1528.449951,1730.000000,1525.000000,1701.000000,ANGELONE.NS
2023-08-09 00:00:00+05:30,1720.000000,1774.949951,1664.599976,1734.150024,ANGELONE.NS
2023-08-10 00:00:00+05:30,1721.000000,1758.400024,1701.750000,1737.500000,ANGELONE.NS
2023-08-11 00:00:00+05:30,1740.949951,1746.500000,1706.000000,1719.599976,ANGELONE.NS

In [ ]:
if STYLE == 'TARGET':
    stocks_to_buy.groupby()
elif STYLE == 'MAX':
    pass
elif STYLE == 'STRICT':
    pass